html {
    background-color: RGBA(194, 228, 120, 0.5);
}

.banner {
    width: 100%;
    height: 200px;

    background-image: url(images/mypage.png);

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}

.box {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
}

.level.is-submenu {
    margin-bottom: 50px;
}

.button.is-dark {
    margin-top: 50px;
    margin-bottom: 20px;
}